.popup__container_type_image {
  background: none;
  padding: 0;
  max-height: 75vh;
  max-width: 75vw;
  width: auto;
  display: flex;
}

.popup__image {
  object-fit: cover;
  max-width: 100%;
}

.popup__caption {
  position: absolute;
  color: white;
  left: 0;
  top: calc(100% + 10px);
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}
